# Compiled C++ binaries
build/
*.out
*.o
*.a
benchmark
src/benchmark_lob
tests/test_orderbook
tests/test_phase1

# Data files
*.csv

# Python Virtual Environment
venv/
__pycache__/

# Docusaurus & Node
docs-site/node_modules/
docs-site/build/
docs-site/.docusaurus/

# OS / Editor
.DS_Store
.vscode/
.idea/
cmake-3.29.3-linux-x86_64*
